

  .stackedbg {
    background: url('./assets/blob-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    background-position: center;
  }

  .wavebg {
    background: url('./assets/layered-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .blurbg {
    background: url('./assets/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .solutionbg {
    background: url('./assets/wave-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  .climatechange-header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }

.quote {
  color: #d9ebd0;
  margin-left: auto;
  font-size: clamp(20px, 2.5vw, 40px);
  
}

.introduction {
  max-width: 70%;
}
.introduction h2 {
  color: #84dc4c;
  font-weight: 800;
  
}
.introduction p {
  font-size: 18px;
  color: #eeeded;
}

.card {
  opacity: 0;
  padding: 0;
  background-color: #dbffe2;
  margin: 20px 0px;
}

.card-title {
  font-weight: 1000;
}
.card img {
  aspect-ratio: 16/10;
}
.card-text {
  color: #303030;
}

.carousel {
  position: relative;
}

.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.carousel img {
  position: relative;
  z-index: 0;
}

.carousel-caption {
  z-index: 2;
}

.centered-control {
  top: 50%;
  transform: translateY(-50%);
}