
  .stackedbg {
    background: url('./assets/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    background-position: center;
  }

  .wavebg {
    background: url('./assets/layered-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  .climatechange-header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }

.quote {
  margin-left: auto;
  font-size: clamp(20px, 2.5vw, 40px);
  text-shadow: 0px 0px 1px black;
}

.introduction {
  max-width: 70%;
}
.introduction h1 {
  color: #dffbcd;
  font-weight: 800;
  text-shadow: 0px 0px 10px black;
}
.introduction p {
  font-size: 20px;
  color: #eeeded;
}

.card {
  padding: 0;
  background-color: #dbffe2;
  margin: 20px 0px;
}

.card-title {
  font-weight: 1000;
}
.card img {
  aspect-ratio: 16/10;
}
.card-text {
  color: rgb(48, 48, 48)
}

